<strong><span data-defer-to="<%= view.defer_key %>-duration">...</span> 
/ <span data-defer-to="<%= view.defer_key %>-calls">...</span></strong> sql 
(<a href="#" id="peek-mysql2-queries">Show List</a>) <div data-defer-to="<%= view.defer_key %>-queries" style="display:none;"></div>
